name: release

on:
  push:
    tags:
      - '*'

jobs:
  linux:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: fire_atlas_editor

    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'
      - run: sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev
      - run: flutter config --enable-linux-desktop
      - run: flutter build linux 
      - name: Zips the build
        uses: papeloto/action-zip@v1
        with:
          files: fire_atlas_editor/build/linux/x64/release/bundle/
          dest: fa_linux.zip
      - name: Upload binary
        uses: actions/upload-artifact@v2
        with:
          name: fa_linux
          path: fa_linux.zip

  mac:
    runs-on: macos-latest

    defaults:
      run:
        shell: bash
        working-directory: fire_atlas_editor

    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'
      - run: flutter config --enable-macos-desktop
      - run: flutter build macos
      - name: Zips the build
        run: cd build/macos/Build/Products/Release/ && zip -r fa_osx.zip Fire\ Atlas\ Editor.app
      - name: Upload binary
        uses: actions/upload-artifact@v2
        with:
          name: fa_osx
          path: fire_atlas_editor/build/macos/Build/Products/Release/fa_osx.zip

  windows:
    runs-on: windows-latest

    defaults:
      run:
        shell: bash
        working-directory: fire_atlas_editor

    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'
      - run: flutter config --enable-windows-desktop
      - run: flutter build windows
      - name: Zips the build
        uses: papeloto/action-zip@v1
        with:
          files: fire_atlas_editor/build/windows/runner/Release/
          dest: fa_windows.zip
      - name: Upload binary
        uses: actions/upload-artifact@v2
        with:
          name: fa_windows
          path: fa_windows.zip

  release_desktop:
    needs: [linux, mac, windows]
    runs-on: ubuntu-latest

    steps:
      - name: Download Linux artifact
        uses: actions/download-artifact@v2
        with:
          name: fa_linux

      - name: Download Mac artifact
        uses: actions/download-artifact@v2
        with:
          name: fa_osx

      - name: Download Windows artifact
        uses: actions/download-artifact@v2
        with:
          name: fa_windows

      - name: Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            fa_linux.zip
            fa_osx.zip
            fa_windows.zip
          prerelease: true

  release_web:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
      - uses: erickzanardo/flutter-gh-pages@v3
        with:
          workingDir: fire_atlas_editor
